In [2]:
import pandas as pd

# Load dataset.csv

In [3]:
df = pd.read_csv('datasets/dataset.csv')

In [5]:
df.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15647572,Greece,504,Spain,Male,34,0,54980.81,1,1,1,136909.88,0
1,15797692,Volkova,659,France,Female,33,7,89939.62,1,1,0,136540.09,0
2,15713559,Onyemauchechukwu,473,Germany,Female,32,5,146602.25,2,1,1,72946.95,0
3,15595067,Zhirov,637,Spain,Female,40,6,0.00,2,1,1,181610.60,0
4,15810167,Scott,657,Spain,Male,75,7,126273.95,1,0,1,91673.60,0

In [6]:
df2 = pd.read_csv('datasets/A1.txt',header=None,sep=' ')

In [8]:
df2.head()

  AQC00914000 1981  4279   3745  10762   6067   4096   3606   6203   5292   3092   6866   7163   7866
0  AQC00914000 1982  5039   9643   3211   2016   ...
1  AQC00914000 1983  3351   2971   3044   2642   ...
2  AQC00914000 1984  3368   3538   8187   2715   ...
3  AQC00914000 1985  5202   3078   3279   8414   ...
4  AQC00914000 1986  8573   4212   2799F  7095F  ...